@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: "SawarabiGothic-Regular";
    src: url("/fonts/SawarabiGothic-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  :root {
    /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: "SawarabiGothic-Regular", sans-serif;
    line-height: 1.5;
    --color-graybg: #eeecee;
    --color-graytext: #adafb2;
    --color-whitebg: #ffffff;
    --color-blackbg: #000000;
    --color-ambergray: #e6e1d8;
    --color-red: red;
  }
  /* --color-graybg: #f4f4f4; */
  body {
    background-color: var(--color-graybg);
    font-family: "SawarabiGothic-Regular", sans-serif;
  }

  .animate-on-scroll {
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
  }

  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.7;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  /* notification  */ 
    .notification{
      animation: movenotification 2.5s linear;
    }

    /* Default animation (mobile) */
@keyframes movenotification {
  0% {
    left: -100vw;
    opacity: 0;
  }
  10%,
  90% {
    left: 20vw;
    opacity: 1;
  }
  100% {
    left: 200vw;
    opacity: 0;
  }
}

/* For medium screens */
@media (min-width: 768px) {
  .notification {
    animation-name: movenotification-md;
  }

  @keyframes movenotification-md {
    0% {
      left: -100vw;
      opacity: 0;
    }
    10%,
    90% {
      left: 30vw;
      opacity: 1;
    }
    100% {
      left: 200vw;
      opacity: 0;
    }
  }
}

/* For large screens */
@media (min-width: 1024px) {
  .notification {
    animation-name: movenotification-lg;
  }

  @keyframes movenotification-lg {
    0% {
      left: -100vw;
      opacity: 0;
    }
    10%,
    90% {
      left: 40vw;
      opacity: 1;
    }
    100% {
      left: 200vw;
      opacity: 0;
    }
  }
}


  }
